name: Build and deploy frontend(react) and backend(flask) artifacts to azure app services

on:
  push:
    branches: [ main ]

env:
  AZURE_WEBAPP_BACKEND: 'backend-container'
  AZURE_WEBAPP_FRONTEND: 'frontendapp'
  AZURE_RG: 'imgtovidconvapp'
  ACR_NAME: 'backendAppContainer'
  ACR_IMAGE: 'backendapp'
  IMAGE_TAG: 'latest'
  ACR_LOGIN_SERVER: 'backendappcontainer.azurecr.io'

jobs:
  deploy-backend:
    name: Build and deploy backend container
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Build and push backend docker image to ACR
        uses: azure/cli@v1
        with:
          inlineScript: |
            az acr build --registry $ACR_NAME \
            --image $ACR_IMAGE:${IMAGE_TAG} \
            ./backend
      
      - name: Configure Azure Web App to use ACR image
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp config container set \
            --name ${{ env.AZURE_WEBAPP_BACKEND }} \
            --resource-group ${{ env.AZURE_RG }} \
            --docker-custom-image-name ${{ env.ACR_LOGIN_SERVER }}/${{ env.ACR_IMAGE }}:${{ env.IMAGE_TAG }} \
            --docker-registry-server-url https://${{ env.ACR_LOGIN_SERVER }}

      - name: Ensure App servie build settings and startup command
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp config appsettings set --name ${{ env.AZURE_WEBAPP_BACKEND }} --resource-group ${{ env.AZURE_RG }} --settings \
              WEBSITES_PORT=8000 \
              PYTHONUNBUFFERED=1
          
      - name: Restart Azure Web App
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp restart --name ${{ env.AZURE_WEBAPP_BACKEND }} --resource-group ${{ env.AZURE_RG }}
  
  deploy-frontend:
    name: Deploy React frontend to Azure app service
    runs-on: ubuntu-latest
    needs: deploy-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Install dependencies and build react frontend app
        run: |
          cd frontend
          echo "REACT_APP_API_URL=https://backendapp-excfgcb6d7ghcjf7.polandcentral-01.azurewebsites.net" > .env.production
          npm install
          npm run build
          ls -la build | head

      - name: deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_FRONTEND }}
          package: frontend/build
