name: Build and deploy frontend(react) and backend(flask) artifacts to azure app services

on:
  push:
    branches: [ main ]

env:
  AZURE_WEBAPP_BACKEND: 'backend-container'
  AZURE_WEBAPP_FRONTEND: 'frontendapp'
  AZURE_RG: 'imgtovidconvapp'
  ACR_NAME: 'backendAppContainer'
  IMAGE_NAME: 'backendapp-image'
  DOCKER_TAG: 'latest'

jobs:
  deploy-backend:
    name: Build and deploy backend container
    runs-on: ubuntu-latest
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Set ACR login server env variable
        id: acr
        run: |
          echo "ACR_LOGIN_SERVER=$(az acr show --name $ACR_NAME --query loginServer --output tsv)" >> $GITHUB_ENV
     
      - name: Login to ACR
        run: |
            az acr login --name $ACR_NAME
        
      - name: Build docker image
        run: |
          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$DOCKER_TAG ./backend
 
      - name: Push docker image to ACR
        run: |
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$DOCKER_TAG

      - name: Deploy Docker image to Azure Web App
        run: |
          az webapp config container set \
            --name ${{ env.AZURE_WEBAPP_BACKEND }} \
            --resource-group ${{ env.AZURE_RG }} \
            --docker-custom-image-name $ACR_LOGIN_SERVER/$IMAGE_NAME:$DOCKER_TAG \
            --docker-registry-server-url https://$ACR_LOGIN_SERVER
          
      - name: Restart Azure Web App
        run: |
            az webapp restart --name ${{ env.AZURE_WEBAPP_BACKEND }} --resource-group ${{ env.AZURE_RG }}
  
  deploy-frontend:
    name: Deploy React frontend to Azure app service
    runs-on: ubuntu-latest
    needs: deploy-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Install dependencies and build react frontend app
        run: |
          cd frontend
          echo "REACT_APP_API_URL=https://backendapp-excfgcb6d7ghcjf7.polandcentral-01.azurewebsites.net" > .env.production
          npm install
          npm run build
          ls -la build | head

      - name: deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_FRONTEND }}
          package: frontend/build
