name: Build and deploy frontend(react) and backend(flask) artifacts to azure app services

on:
  push:
    branches: [ main ]

jobs:
  deploy-backend:
    name: Deploy Flask backend to Azure app service
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
          
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.14'

      - name: Install dependencies
        working-directory: backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      
      - name: Zip backend source
        run: |
          cd backend
          zip -r ../img2vid-backend.zip .

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'backendapp'
          package: 'img2vid-backend.zip'
  
  deploy-frontend:
    name: Deploy React frontend to Azure app service
    runs-on: ubuntu-latest
    needs: deploy-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Install dependencies and build react frontend app
        working-directory: frontend
        run: |
          npm install
          npm run build

      - name: deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'imgtovideoconv'
          package: 'frontend/build'
