name: Build and deploy frontend(react) and backend(flask) artifacts to azure app services

on:
  push:
    branches: [ main ]

env:
  AZURE_WEBAPP_BACKEND: 'backendapp'
  AZURE_WEBAPP_FRONTEND: 'frontendapp'
  AZURE_RG: 'imgtovidconvapp'

jobs:
  deploy-backend:
    name: Deploy Flask backend to Azure app service
    runs-on: ubuntu-latest
    env:
      ACR_NAME: 'backendAppContainer'
      ACR_IMAGE: 'backendappimage'
      IMAGE_TAG: ${{ github.sha }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      - name: Get ACR login server
        id: acrinfo
        uses: azure/cli@v1
        with:
          inlineScript: |
            ACR_LOGIN_SERVER=$(az acr show --name $ACR_NAME --resource-group $AZURE_RG --query loginServer --output tsv)
            echo "ACR_LOGIN_SERVER=$ACR_LOGIN_SERVER" >> $GITHUB_ENV
            echo "ACR_LOGIN_SERVER=$ACR_LOGIN_SERVER"
      
      - name: Login to ACR
        uses: azure/cli@v1
        with:
          inlineScript: |
            az acr login --name $ACR_NAME

      - name: Build and push backend docker image to ACR
        uses: docker/build-push-action@v4
        with:
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.ACR_LOGIN_SERVER }}/${{ env.ACR_IMAGE }}:${{ env.IMAGE_TAG }}
      
      - name: Configure Azure Web App to use ACR image
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp config container set \
            --name ${{ env.AZURE_WEBAPP_BACKEND }} \
            --resource-group ${{ env.AZURE_RG }} \
            --docker-custom-image-name ${{ env.ACR_LOGIN_SERVER }}/${{ env.ACR_IMAGE }}:${{ env.IMAGE_TAG }} \
            --docker-registry-server-url https://${{ env.ACR_LOGIN_SERVER }}

      - name: Ensure App servie build settings and startup command
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp config appsettings set --name ${{ env.AZURE_WEBAPP_BACKEND }} --resource-group ${{ env.AZURE_RG }} --settings \
              FRONTEND_ORIGINS=${{ secrets.FRONTEND_ORIGINS }} \
              WEBSITES_PORT=8000
          
      - name: Restart Azure Web App
        uses: azure/cli@v1
        with:
          inlineScript: |
            az webapp restart --name ${{ env.AZURE_WEBAPP_BACKEND }} --resource-group ${{ env.AZURE_RG }}
  
  deploy-frontend:
    name: Deploy React frontend to Azure app service
    runs-on: ubuntu-latest
    needs: deploy-backend
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 22

      - name: Install dependencies and build react frontend app
        run: |
          cd frontend
          echo "REACT_APP_API_URL=https://backendapp-excfgcb6d7ghcjf7.polandcentral-01.azurewebsites.net" > .env.production
          npm install
          npm run build
          ls -la build | head

      - name: deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_FRONTEND }}
          package: frontend/build
